@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-toggle:checked~.drawer-side>.drawer-overlay {
  background: transparent;
}

.drawer-side>*:not(.drawer-overlay) {
  transform: translateX(calc(-100% + 50px));
}

.drawer-side>*:not(.drawer-overlay)::after {
  content: "";
  position: absolute;
  top: 45%;
  right: -20px;
  width: 10%;
  height: 10%;
  background: #EFEFEF;
  z-index: -1;
  border-radius: 8px;
  box-shadow: 4px 3px 8px 2px rgba(118, 117, 117, 0.74);
}

.drawer-side>*:not(.drawer-overlay)::before {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  width: 10%;
  height: 30%;
  background: #EFEFEF;
  border-radius: 8px;
}

.drawer-toggle:checked~.drawer-side>*:not(.drawer-overlay) {
  box-shadow: 4px 3px 8px 2px rgba(118, 117, 117, 0.74);
}